body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg,#ff9a9e,#fad0c4);
    text-align:center;
    overflow-x:hidden;
}

/* First Screen */
.container{
    padding:30px;
}

h1{
    color:white;
    font-size:40px;
}

.gallery{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:25px;
}

.gallery img{
    width:200px;
    height:300px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
    transition:0.4s;
}

.gallery img:hover{
    transform:scale(1.08);
}

.message{
    margin-top:20px;
    font-size:20px;
    color:white;
}

/* Button */
button{
    margin-top:30px;
    padding:15px 35px;
    font-size:18px;
    border:none;
    border-radius:40px;
    background:#ff4d6d;
    color:white;
    cursor:pointer;
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
    transition:0.3s;
}

button:hover{
    background:#ff1e4d;
    transform:scale(1.05);
}

/* Surprise Screen */
#surprise {
    display: none;              /* hidden first */
    flex-direction: column;     /* vertical layout */
    align-items: center;        /* center horizontally */
    justify-content: flex-start; /* start from top */
    text-align: center;
    min-height: 100vh;
    padding: 40px 20px;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

/* Title */
#surprise h1 {
    margin-bottom: 20px;
}

/* Image */
.big-img {
    width: 300px;
    max-width: 90%;
    border-radius: 20px;
    margin: 20px 0;
}

/* Message */
.love-text {
    max-width: 700px;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 20px;
}
